/*	Palette:
	white 			#F0E4FF
	grey			#9A9AA0
	blue (tone 2)	#3B4D58
	blue (tone 3)	#22262C
	black 			#0A0F0D
	red 			#952F38; */

html {
	height: 100%;

	background-color: #0A0F0D;
}

body {
	margin: 0px;
	min-height: 100%;

	display: flex;
	flex-flow: column;

	font-family: 'Roboto', sans-serif;

	color: #9A9AA0;
}

header {
	padding-left: 20px;

	font-family: 'Comfortaa', cursive;

	background-color: #0A0F0D;
}

h1 {
	color: #F0E4FF;

	font-family: 'Comfortaa', cursive;
}

h3 {
	color: #F0E4FF;

	font-family: 'Comfortaa', cursive;
}

#middle {
	flex-grow: 1;

	display: flex;
	flex-flow: row;
	
	background-color: #22262C;
}

nav#sidebar {
	flex-basis: 128px;
	flex-grow: 0;
	flex-shrink: 0;
}

nav#sidebar a {
	padding: 8px 16px 8px 16px;

	display: block;

	text-decoration: none;

	color: #F0E4FF;
}

nav#sidebar a:visited {
	color: #9A9AA0;
}

nav#sidebar a:hover {
	color: #F0E4FF;
	background-color: #2b348c;
}

main {
	padding-left: 16px;

	flex-grow: 1;
}

main a {
	color: #9A9AA0;

	text-decoration: none;
}

main a:hover {
	color: #F0E4FF;
}

ul#portfolio_list {
	padding: 0px;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
}

li.portfolio_item {
	margin-right: 16px;
	margin-bottom: 16px;

	min-width: 300px;
	max-width: 480px;

	flex-grow: 1;
	flex-shrink: 1;
}

li.portfolio_item div {
	padding: 8px 8px 8px 8px;
	
	width: 300px; /* use JS to change this value to parent width (actual width, not min or max) on resize */

	font-size: 15px;

	color: #9A9AA0;
	background-color: #0A0F0D;
}

li.portfolio_item a {
	text-decoration: none;
}

li.portfolio_item a div:hover {
	background-color: #2b348c; 
}

li.portfolio_item div h4 {
	margin: 0px;
	padding-bottom: 4px;

	font-size: 18px;

	text-align: center;

	color: #F0E4FF;
}

li.portfolio_item a:visited div h4 {
	color: #9A9AA0;
}

li.portfolio_item a:hover div h4 {
	color: #F0E4FF;
}

li.portfolio_item div img {
	display: block;

	padding-top: 4px;

	width: 100%;
	height: auto;
}

footer {
	padding: 8px 16px 8px 16px;

	text-align: center;

	background-color: #0A0F0D;
}
